html,body,h1,h2,h3,h4,p,div,ul,li,svg{
    margin:0px;
    padding:0;
    font-size:100%;
}

/*------------Structure-------------*/
html,body{
    height: 100%;
    background: white;
    position:relative;

}
.container{
    width:100%;
}
.container .canvas {
    width: 100%;
}


/*------------font-------------*/
body{
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    color: black;
}
h1{
    font-size: 1.8em;
    margin: 50px 10px 50px 30px;
}
h2{

    font-size:5px;
    margin: 0 0 5px;
}
p
{
    margin: 30px;
    width: 75%;
    line-height: 130%;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

/*------------tooltip-------------*/
.custom-tooltip {
    padding: 8px;
    background: white;
    opacity:1;
    width: 50px;
    height:50px;
    position: absolute;
    visibility: hidden;

}


/*-----------control--------------*/
.control .button {
     color: #fff;
     background: rgb(100, 100, 100);
     text-align: center;

     height: 40px;
     width: 50px;
     float: left;
     line-height: 40px;

}
.control .button:hover{
    background: rgb(70,70,70);
}

/*------------svg-----------------*/
.canvas .county{
    fill:none;
    stroke:#fff;
    stroke-width:0.2px;
}
.canvas .county:hover{
    stroke:red;
    stroke-width:1.5px;
}


.canvas .small-canvas{
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top:0;
    padding-left:30px;
    float:left;
}

.canvas.year-name{
    color:red;
}
